/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*__________ MY CODE STARTS HERE!_____________________ */

#wrapper {
  width: 1024px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.home-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* border: 1px solid black; */
}

.services-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: 1px solid black;
}

nav {
	display: flex;
	width: 60%;
	justify-content: space-between;
	/* border: 1px solid black; */

}

nav a {
	font-size: 17px;
	color: grey;
	text-decoration: none;
	padding: 20px 10px;
	/* border: 1px solid black; */
}

.logo {
	width: 40%;
	height: 40px;
	text-align: right;
	/* border: 1px solid black; */
}

.title-text {
	font-size: 70px;
	text-align: center;
	width: 50%;
	padding: 105px;
	/* border: 1px solid black; */
}

.round-image {
	width: 50%;
	padding: 50px 60px 50px 60px;
	/* border: 1px solid black; */
}

.top-text {
	padding: 40px;
	border-top: 1px solid black;
}

.bottom-text {
	padding: 20px;
	padding-bottom: 40px;
	margin-top: 10px;
	/* border-bottom: 1px solid black; */
}

.wide-image {
	width: 100%;
	/* border: 1px solid black; */
}

.contact {
	width: 100%;
	padding-top: 30px;
	border-top: 1px solid black;
}

.copyright {
	width: 100%;
	text-align: center;
	padding: 20px;
	/* border: 1px solid black; */
}

